body{
   background-color: blanchedalmond;
}
h1{
    color: black;
}
@media (min-width:640px) {
    body{
        background-color: rgb(245, 220, 245);
    }
    h1{
        color: rgb(255, 17, 0);
    }
}
@media (min-width:768px) {
    body{
        background-color: pink;
    }
    h1{
        color: black;
    }
}
@media (min-width:1024px) {
    body{
        background-color: mediumvioletred;
    }
    h1{
        color: black;
    }
}
